<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="theme-color" content="#000000" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:title" content="Abiram's Teaching Site" />
  <meta property="og:locale" content="en_US" />
  <meta name="description" content="Resources such as slides and code from Abiram's tutorials." />
  <meta property="og:description" content="Resources such as slides and code from Abiram's tutorials." />
  <meta property="og:site_name" content="Abiram's Teaching Site" />
  <title>{{title}}</title>
  <link rel='stylesheet' href='/main.css' />
</head>

<body>
  <nav id="navbar">
    <div class="container">
      <div id="nav-contain">
        <a href="/" id="navbar-logo">
          <img src="/images/ramen-logo.png" alt="neon-logo" id="logo" />
        </a>
        <div id="nav-home">
          <a href="/" id="navbar-name">Learn</a>
        </div>

        <div id="nav-right">
          <a href="https://www.abiram.me" target="_blank">My site</a>
        </div>
        <div class="nav-border"></div>
      </div>
  </nav>

  <div id="page-content">
    <div class="container">
      {{{body}}}
    </div>
  </div>

  </div>


</body>

</html>
